Host *
    ServerAliveInterval 60
    Compression yes
    AddKeysToAgent yes

# Generic stuff: share existing connections to reduce lag when logging into the same host in a second shell
ControlMaster auto
ControlPath ~/.ssh/cm_temp/%h_%p_%r
ControlPersist 15m

host github.com
    HostName github.com
    IdentityFile ~/.ssh/id_rsa
    IdentityFile ~/.ssh/id_ed25519
    User git

Host *.ilifu.ac.za
    User dane
    IdentityFile ~/.ssh/ilifu/id_rsa
    ForwardAgent yes
    ForwardX11   yes
    LocalForward 3890 ldap1.ilifu.ac.za:389

Host slwrk-*
    Hostname %h
    User dane
    ProxyCommand ssh dane@slurm.ilifu nc %h 22
    IdentityFile ~/.ssh/ilifu/id_rsa
    ForwardX11   yes

